.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__list {
    border-radius: 15px;
    background: #dee;
    margin: 0 auto 20px auto;
    width: 500px;
    padding: 20px;
  }
}
