.form {
  input {
    display: inline-block;
  }

  input {
    width: 400px;
  }

  &-increaser {
    color: green;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    margin-top: -6px;
    margin-left: 6px;
    font-weight: 800;
    font-size: 2rem;
  }

  &-decreaser {
    cursor: pointer;
    color: red;
    display: inline-block;
    position: absolute;
    margin-top: -6px;
    margin-left: 8px;
    font-weight: 800;
    font-size: 2rem;
  }

}
