div(class="features__one")
  i(class="fa fa-check fa-3x" aria-hidden="true")
  div(class="features__one-text")
    |  Vote
div(class="features__two")
  i(class="fa fa-share fa-3x" aria-hidden="true")
  div(class="features__two-text")
    |  Share
div(class="features__three")
  i(class="fa fa-heart-o fa-3x" aria-hidden="true")
  div(class="features__three-text")
    |  Love
