extends layout

block content
  if user
    h1 Hello, #{user.username}!
    
    h3 Here are your 
      a(href='/my_polls') polls
  else
    h1 Hey, stranger!
    h2
      | Vote on existing polls or 
      a(href='/oauth/register') register
      |  and create your own!
  div(class="cont")
    div(id="all_polls")
  script(src="/scripts/chartjs_all.js" type="text/javascript")
      
