doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="keywords" content="Vote, voting, vote app, voting app, poll, polls, create polls")
    meta(name="description" content="Vote for various polls or log in and create your own!")
    title= title
    link(rel="stylesheet", type="text/css", href="/styles/styles.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js")
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src="https://use.fontawesome.com/19563c0ef0.js")
  body
    div(class="grid")
      div(class="grid__header")
        include nav.pug
      div(class="main grid__main")
        block content
      div(class="features grid__features")
        include features.pug
      div(class="grid__footer")
        include footer.pug
