header(class='site-header')
  nav(class='navigation')
    ul(class='navigation__left')
      li 
        a(href='#') Voting App
    ul(class='navigation__right')
      li
        a(href='/') Home
      li
        a(href='/') Login
      li
        a(href='/') Register
