header(class='site-header')
  nav(class='navigation')
    ul(class='navigation__left')
      li 
        a(href='#') Voting App
    ul(class='navigation__right')
      li
        a(href='/') Home
      if !user
        li
          a(href='/oauth/login/') Login
        li
          a(href='/oauth/register') Register
      else
        li
          a(href='/polls/mine') My Polls
        li
          a(href='/polls/new_poll') New Poll
        li
          a(href='/logout') Logout
