extends layout

block content
  h1 Create a new poll.
  div(class="form")
    form(id="", method="post", action="new_poll")
      label Title:
      br
      input(type="text" name="title" placeholder="Enter poll title")
      br
      br
      label Choices:
      br
      input(type="text" name="choices" placeholder="Enter choices separated by comma")
      br
      br
      input(type="submit" name="Submit")
  script(src='/scripts/new_poll.js')
