extends layout

block content
  h3(class="main__greeting") To register please fill up the form below.
  if message
    h3(class="main__text-error")= message
  form(class="form__login", method="post", action="/oauth/signup")
    | username
    input(type="text" name="username" value="Mickey")
    br
    | password
    input(type="password" name="password" value="Mouse")
    br
    br
    input(type="submit" value="Submit")
